<div class="footer">
    <div class="row">
        <div class="col">
            <h3>Bills</h3>
            <ul>
                <li><a href="/overview">Overview</a></li>
                <li><a href="/show/bill/new">New Bill</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Categories</h3>
            <ul>
                <li><a href="/show/category/overview">Overview</a></li>
                <li><a href="/show/category/new">New Category</a></li>
            </ul>
        </div>
        <div class="col">
            <h3>Shops</h3>
            <ul>
                <li><a href="/show/shop/overview">Overview</a></li>
                <li><a href="/show/shop/new">New Category</a></li>
            </ul>
        </div>
    </div>
</div>