<?xml version="1.0" encoding="UTF-8"?>
<config>
	<setting key="pin" value="7" />
	<setting key="blinkpin" value="11" />
    <setting key="threadcount" value="10" />
    <setting key="exportfilename" value="/sys/class/gpio/export" />
    <setting key="unexportfilename" value="/sys/class/gpio/unexport" />
    <setting key="pinfolder" value="/sys/class/gpio/gpio{gpioid}" />
    <setting key="directionfile" value="/sys/class/gpio/gpio{gpioid}/direction" />
    <setting key="commandfile" value="/sys/class/gpio/gpio{gpioid}/value" />
    <setting key="switchtoredled" value="10" />
    <setting key="switchtoyellowled" value="10" />
</config>