<!doctype html>
<html>
    {{> header}}
    <body>
        <div class="wrapper">
            <h2>Overview</h2>
            {{#shops}}
            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title">Shop: {{name}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: {{name}}</li>
                    </ul>
                    <div class="text-center">
                        <a href="/show/shop/details?id={{id}}" class="btn btn-primary">Show</a>
                    </div>
                </div>
            </div>
            {{/shops}}
        </div>
        {{> footer}}
    </body>
</html>